<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>FactMaps - information bot</title>
</head>
<body>
<header>
    <img src="../static/img/Map-icon.svg" class="logo" alt="logo"
         title="Logo"/>
    <h1>Bienvenue chez GrandPy - Le bot qui vous raconte sa vie</h1>
</header>
<section class="chat">
    <div class="chat-title">
        <h1>GrandPy</h1>
        <h2>Directionalist</h2>
        <figure class="avatar">
            <img src="../static/img/26943211820_e98f297402_q.jpg"
                 alt="Cool Papy"/>
        </figure>
    </div>
    <div class="messages" id="messages">
        <div class="message">Bonjour, mon petit! Que veux-tu
            savoir aujourd'hui?
        </div>
    </div>
    <div class="message-box">
        <textarea placeholder="Pose une question a GrandPy..."
                  class="message-input" id="input"></textarea>
        <button type="submit" class="message-submit"
                id="submit">Envoyer
        </button>
    </div>
</section>
<footer>
    <p>Copyright Sebastien Lesouef</p>
</footer>

<script src="../static/js/ajax.js"></script>
<script src="../static/js/jquery/jquery-3.3.1.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>
