<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
          crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest"
          href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon"
          href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}"
          color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <title>FactMaps - information bot</title>
</head>

<body>
<div class="container-fluid">
    <header class="row justify-content-center">
        <div class="header row col-md-11 col-lg-9 col-xl-8 align-items-center">
            <img class="logo col-md-3 d-none d-md-block img-responsive"
                 src="{{ url_for('static', filename='img/Map-icon.svg') }}"
                 class="logo"
                 alt="logo" title="Logo"/>
            <h1 class="col">Bienvenue chez GrandPy - Le bot
                qui vous raconte sa vie</h1>
        </div>
    </header>
    <section class="row justify-content-center">
        <div class="chat row col-md-8 col-lg-6">
            <div class="row chat-title">
                <div class="row col no-gutters">
                    <div class="col-4">
                        <figure class="avatar">
                            <img class="img-fluid" alt="Cool Papy"
                                 src="{{ url_for('static', filename='img/26943211820_e98f297402_q.jpg') }}"/>
                        </figure>
                    </div>
                    <div class="row grandpy col-7 mr-auto">
                        <h1 class="col">GrandPy</h1>
                        <div class="w-100 separator"></div>
                        <h2 class="col">Directionalist</h2>
                    </div>
                </div>
                <div class="col-4 col-sm"></div>
            </div>
            <div class="messages" id="messages">
                <div class="message">Bonjour, mon petit! Que veux-tu
                    savoir aujourd'hui?
                </div>
            </div>
            <form class="message-box row form-inline">
                <div class="input-group row col no-gutters">
                    <textarea placeholder="Pose une question a GrandPy..."
                              class="message-input col-7 col-sm-10"
                              id="input"></textarea>
                    <span class="input-group-addon col-4 col-sm-2 ml-auto">
                        <button type="button" class="message-submit"
                                id="submit">Envoyer</button>
                    </span>
                </div>
            </form>
        </div>
    </section>
    <footer class="fixed-bottom">
        <p>Copyright Sebastien Lesouef</p>
        <p>avatar from
            <a href="https://www.flickr.com/photos/garryknight/26943211820">Garry
                Knight</a>
        </p>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ config['MAPS_API']}}"
        async defer></script>
</body>
</html>
