<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>FactMaps - information bot</title>
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='img/Map-icon.svg') }}" class="logo"
    alt="logo" title="Logo"/>
    <h1>Bienvenue chez GrandPy - Le bot qui vous raconte sa vie</h1>
</header>
<section class="chat">
    <div class="chat-title">
        <h1>GrandPy</h1>
        <h2>Directionalist</h2>
        <figure class="avatar">
            <img src="{{ url_for('static', filename='img/26943211820_e98f297402_q.jpg') }}"
                 alt="Cool Papy"/>
        </figure>
    </div>
    <div class="messages" id="messages">
        <div class="message">Bonjour, mon petit! Que veux-tu
            savoir aujourd'hui?
        </div>
    </div>
    <div class="message-box">
        <textarea placeholder="Pose une question a GrandPy..."
                  class="message-input" id="input"></textarea>
        <button type="button" class="message-submit"
                id="submit">Envoyer
        </button>
    </div>
</section>
<footer>
    <p>Copyright Sebastien Lesouef</p>
    <p>avatar from
        <a href="https://www.flickr.com/photos/garryknight/26943211820">Garry Knight</a>
    </p>
</footer>

<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ config['MAPS_API']}}"
        async defer></script>
</body>
</html>
